.card--icon {
    background-color: #FBECDC;
    width: 150px;
    height: 110px;
    margin-bottom: 10px;
    padding: 15px;
    padding-left: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.card--icon:hover {
    box-shadow: 0 0 5px 5px rgb(102, 0, 128);
    transition: 0.2s ease-in-out;
}

.card--icon img {
    width: 5.5rem;
    height: 50px;
    transition: 0.5s;
    object-fit: contain;
}

.card--icon:hover img {
    transform: scale(1.3); /*fotoyu normal boyutundan 1.3 katı büyütür*/
    transition: 0.5s;
}

.card--icon ul {
    text-align: start;
}





